:root {
    --blue-grey-50: #ECEFF1;
    --blue-grey-100: #CFD8DC;
    --blue-grey-200: #B0BEC5;
    --blue-grey-900: #263238;
    --dark-grey: #111111;
    --white: #FFFFFF;
    --blockquote-color:#78909C;
}

body {
    color: #000;
    text-align: center; 
    width: 24.38rem;
    margin: 0 auto;
}


/* Header Section Styling */

.header-container{
    display: flex;
    flex-direction: column;
    background-color: var(--dark-grey);
    color: var(--white);
    align-items: center;
    padding: 2rem 0;
    width: 100%;
}

.logo-container {
    display: flex;
    align-items:baseline;
    gap: 1rem; 
}

.header-container h1{
    font-size: 3.5rem;
}

.header-container img{
    width: 5.6875rem;
    height: 3.625rem;
}

.header-nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Space between menu items */
    padding: 0;
    margin-top: 1rem;
}

.header-nav-bar a {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
}

header h1{
    font-family: "Libre Baskerville", serif;
}


/* First of Main Section Styling */

.main-first-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--blue-grey-50);
    text-align: center;
    padding: 3rem 1.5rem;
    max-width: 40rem;
}

.main-first-section h2 {
    font-size: 2rem;
    font-family: "Libre Baskerville", serif;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.main-first-section p {
    font-size: 1rem;
    line-height: 1.6;
    max-width: 35rem;
    margin-bottom: 2rem;
}

.main-first-section button {
    background-color: var(--dark-grey);
    color: var(--white);
    font-size: 1rem;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 2rem;
}

.main-first-section img {
    width: 100%;
    max-width: 35rem; 
    height: auto;
    border-radius: 10px; 
}

/* Second of Main Section Styling */

.main-second-section {
    text-align: center;
    padding: 3rem 1.5rem;
}

.main-second-section h2 {
    font-family: 'Libre Baskerville', serif;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

.section-divider {
    font-size: 2.5rem; 
    font-weight: bold;
    margin-bottom: 0.2rem; 
    text-align: center;
    line-height: 1; 
}

.main-second-section h3 {
    margin-top: 0.2rem; 
    text-align: center;
}









button{
    background-color: var(--dark-grey);
    color: white;
}



.blockquote-div{
    background-color: var(--blockquote-color);
}

.main-third-section{
    background-color: var(--blue-grey-100);
}

.sign-up-div{
    background-color: var(--blue-grey-900);
}

.sign-up-div-inside-box{
    /* background-color: var(--white); */
}



/* Footer Section Styling */


footer {
    background-color: var(--dark-grey);

}